@import url(https://fonts.googleapis.com/css?family=Lato);

html, body, #root {
    margin: 0px;
    height: 100%;
    background-color: #2d2d37;
    font-family: Lato;
    color: white;
}

label {
    display:block;
}